{% extends 'base.html.twig' %}

{% block title %}Energy index{% endblock %}

{% block body %}
    <h1>Energy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for energy in energies %}
            <tr>
                <td>{{ energy.id }}</td>
                <td>{{ energy.type }}</td>
                <td>
                    <a href="{{ path('energy_show', {'id': energy.id}) }}">show</a>
                    <a href="{{ path('energy_edit', {'id': energy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('energy_new') }}">Create new</a>
{% endblock %}
