{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.firstname) }}

    {{ form_row(registrationForm.lastname) }}

    {{ form_row(registrationForm.dateBirth) }}

        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}


        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
