{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{ path('image_add') }}">Ajouter une image</a>

    {% if images is empty %}
        <div class="text-danger col-md-12 text-center">Aucune image !</div>
    {% else %}
        <div class="row">
        {% for image in images %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset('uploads/'~image.url) }}"/>
                <div class="card-body">
                    <h5 class="card-title">{{ image.name }}</h5>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
