{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="col-md-12 text-center">
            <h1>{{ car.marque.name|upper }} | {{ car.model }}</h1>
        </div>
        {% if car.images is not empty %}
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in car.images %}
                        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                            <img class="img-thumbnail d-block w-100" src="{{ asset('uploads/'~ image.url) }}"/>
                        </div>
                    {% endfor %}
                </div>
                {% if car.images|length > 1 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                {% endif %}
            </div>
        {% else %}
            <div class="text-center">
                <img class="mignature" src="{{ asset('images/no-image-icon.png') }}"/>
            </div>
        {% endif %}
        <ul>
            <li
                    {% if car.energy.type == 'Electrique' %}class="text-success"{% endif %}
                    {% if car.energy.type == 'Hybride' %}class="text-primary"{% endif %}
                    {% if car.energy.type == 'Diesel' %}class="text-danger"{% endif %}
            >Carburant : {{ car.energy.type }}</li>
            <li>Boite auto : {{ car.boiteAuto ? 'Oui': 'Non' }}</li>
        </ul>
    </div>
{% endblock %}