{% extends 'base.html.twig' %}

{% block body %}

    {% if app.request.get('_route') == 'car_add' %}
        <h1>Ajouter un véhicule</h1>
    {% else %}
        <h1>Editer un véhicule</h1>
    {% endif %}

    {{ form_start(form) }}

    {{ form_row(form.model) }}

    {{ form_row(form.boiteAuto) }}

    {{ form_row(form.energy) }}

    {{ form_row(form.marque) }}

    {{ form_row(form.images) }}

    {{ form_row(form.enregistrer) }}



    {{ form_widget(form._token) }}

    {{ form_end(form, {'render_rest': false}) }}


{% endblock body %}