{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_end(form) }}

    <div class="container">
        <h1>Les resultats !</h1>

        <div class="row mt-5">
            {% for car in results %}
                <div class="card mx-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ car.marque.name|upper }} - {{ car.model }}</h5>
                        <ul>
                            <li>Energy : {{ car.energy.type }}</li>
                            <li>Boite auto : {{ car.boiteAuto ? 'Oui': 'Non' }}</li>
                        </ul>
                        <a href="{{ path('car_detail', {'car': car.id}) }}"
                           class="btn btn-primary">Voir la fiche complète</a>
                        <a href="{{ path('car_delete', {'car': car.id}) }}"
                           class="btn btn-danger">Supprimer</a><br>

                        <a href="{{ path('car_update', {'car': car.id}) }}"
                           class="btn btn-success">Editer</a>
                    </div>
                </div>
            {% endfor %}

            {% if results is empty %}
                <div class="text-danger">Aucun resultat</div>
            {% endif %}
        </div>
    </div>

{% endblock %}
