{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-12 text-center">
        <h1>{{ marque.name }}</h1>

        <div class="col-md-12">
            {% if marque.logo is not empty %}
                <img class="mignature" src="{{ marque.logo.url }}" alt="logo {{ marque.name }}">
            {% else %}
                <img class="mignature" src="{{ asset('images/no-image-icon.png') }}" alt="no-logo">
            {% endif %}
        </div>


        <div class="col-md-12">
            {% if marque.cars is empty %}
                <div class="text-danger mt-5">Aucune voiture ne correspond</div>
            {% endif %}

            {% for car in marque.cars %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ car.model }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ marque.name  }}</h6>
                        <a href="{{ path('car_detail', {'car': car.id}) }}" class="card-link">Détail de la voiture</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}