{% extends 'base.html.twig' %}

{% block title %}Hello MarqueController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Les marques en vente sur notre site web !</h1>

        <div class="row mt-5">

        {% for marque in marques %}

            <div class="card mx-2 m-5 card-mark" style="width: 14rem;">
                <a href="{{ path('marque_detail', {'marque': marque.id}) }}">
                <div class="card-body">
                    <h5 class="card-title">
                    <h1>{{ marque.name }}</h1>
                    </h5>

                    <div class="col-md-12">
                    {% if marque.logo is not empty %}
                        <img class="card-img m-auto" src="{{ marque.logo.url }}" alt="logo {{ marque.name }}">
                    {% else %}
                        <img class="card-img m-auto" src="{{ asset('images/no-image-icon.png') }}" alt="no-logo">
                    {% endif %}
                    </div>
                        
                </div>
                </a>
            </div>

        {% endfor %}
        </div>
    </div>
{% endblock %}
