<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuGarage" aria-controls="menuGarage" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% set routeName = app.request.get('_route') %}

    <div class="collapse navbar-collapse" id="menuGarage">
        <ul class="navbar-nav">
            <li class="nav-item {% if routeName == 'default' %}active{% endif %}">
                <a class="nav-link" href="{{ path('default') }}">Home {% if routeName == 'default' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item {% if routeName starts with 'marque_' %}active{% endif %}">
                <a class="nav-link" href="{{ path('marque_list') }}">Liste des marques {% if routeName starts with 'marque_' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item {% if routeName starts with 'car_' %}active{% endif %}">
                <a class="nav-link" href="{{ path('car_list') }}">Liste des voitures {% if routeName starts with 'car_' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>

            <li class="nav-item {% if routeName starts with 'energy_' %}active{% endif %}">
                <a class="nav-link" href="{{ path('energy_index') }}">Liste des energies {% if routeName starts with 'energy' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>


            <li class="nav-item {% if routeName starts with 'image_' %}active{% endif %}">
                <a class="nav-link" href="{{ path('image_list') }}">Gallerie de photo {% if routeName starts with 'image_' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>

        </ul>
        Bonjour {{ app.user.firstname }} {{ app.user.lastname }}
    </div>
</nav>